In [2]:
lst = ["Sravan", 1, 2.3, True]

lst

['Sravan', 1, 2.3, True]

In [3]:
#   Accessing list elements

cars = ['Benz', 'BMW', 'Skoda', 'Lamborghini']

In [4]:
cars[1]

'BMW'

In [5]:
cars[-2]

'Skoda'

In [6]:
cars[2:]

['Skoda', 'Lamborghini']

In [7]:
cars

['Benz', 'BMW', 'Skoda', 'Lamborghini']

In [9]:
#Modify the list
cars[2] = 'Corvette'

cars

['Benz', 'BMW', 'Corvette', 'Lamborghini']

In [10]:
cars[2:] = 'Ferrari'

cars

['Benz', 'BMW', 'F', 'e', 'r', 'r', 'a', 'r', 'i']

In [22]:
cars = ['Benz', 'BMW', 'Skoda', 'Lamborghini']

In [23]:
#List methods

cars.append('Porche')

cars

['Benz', 'BMW', 'Skoda', 'Lamborghini', 'Porche']

In [24]:
cars.insert(0, 'Ford')

cars

['Ford', 'Benz', 'BMW', 'Skoda', 'Lamborghini', 'Porche']

In [25]:
cars.remove('Ford') #Removing the first occurance of the item

cars

['Benz', 'BMW', 'Skoda', 'Lamborghini', 'Porche']

In [26]:
pop_cars = cars.pop() #pop removes and return the last element

print(pop_cars)
print(cars)

Porche
['Benz', 'BMW', 'Skoda', 'Lamborghini']

In [27]:
cars.count("Porche")

0

In [ ]:
cars.sort() #count sorts the list in ascending/alphabetical order

print(cars)

['BMW', 'Benz', 'Lamborghini', 'Skoda']

In [29]:
cars

['BMW', 'Benz', 'Lamborghini', 'Skoda']

In [ ]:
cars.clear() #clear removes all the elements in the list

print(cars)

[]

In [34]:
#Slicing the list

lst = [1, 2, 3, 4, 5, 6, 7, 8, 9]

print(lst[1:3])
print(lst[1:])
print(lst[:3])
print(lst[::4])
print(lst[::-2])

[2, 3]
[2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3]
[1, 5, 9]
[9, 7, 5, 3, 1]

In [35]:
#Iterating over a list

for i in lst:
    print(i)

1
2
3
4
5
6
7
8
9

In [36]:
#Iterating over index in a list

for index,lst in enumerate(lst):
    print(index,lst)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9

In [37]:
#List comprehension
lst = []

for x in range(11):
    lst.append(x**2)

print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [38]:
[x**2 for x in range(11)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Basic syntax  - [expression for item in iterable]
### with conditional logic [expression for item in iterable if condition]
### Nested List comprehension - [expression for item1 in iterable1 for item2 in iterable2]

In [42]:
# Basic List complrehension

sqr = [num**2 for num in range(9)] #Here, expression = num**2 and for item in iterable = for num in range(9)
print(sqr)

[0, 1, 4, 9, 16, 25, 36, 49, 64]

In [43]:
#List comprehension with condition

even_square = [i**2 for i in range(9) if i%2==0]

print(even_square)

[0, 4, 16, 36, 64]

In [44]:
#Nested List comprehension

lst1 = [1,2,3,4]
lst2 = ['a', 'b', 'c', 'd']

pair = [(i,j) for i in lst1 for j in lst2]

print(pair)

[(1, 'a'), (1, 'b'), (1, 'c'), (1, 'd'), (2, 'a'), (2, 'b'), (2, 'c'), (2, 'd'), (3, 'a'), (3, 'b'), (3, 'c'), (3, 'd'), (4, 'a'), (4, 'b'), (4, 'c'), (4, 'd')]