In [2]:
#Creating a tuple
empty_tuple = ()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [3]:
lst = [1,2,3,4,5]
tpl = tuple(lst)

print(tpl)

(1, 2, 3, 4, 5)

In [4]:
list((1,2,3,4,5,6))

[1, 2, 3, 4, 5, 6]

In [5]:
mixed_tuple = (1,2.3,'tuple', False)

print(mixed_tuple)

(1, 2.3, 'tuple', False)

In [6]:
mixed_tuple[0:3]

(1, 2.3, 'tuple')

In [7]:
mixed_tuple[1]

2.3

In [8]:
mixed_tuple[-4]

1

In [9]:
concatenation_tuple = tpl + mixed_tuple
print(concatenation_tuple)

(1, 2, 3, 4, 5, 1, 2.3, 'tuple', False)

In [10]:
mixed_tuple * 2

(1, 2.3, 'tuple', False, 1, 2.3, 'tuple', False)

In [11]:
tpl * 3

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [12]:
#Immutable nature of Tuples - Elements cannot be changed once assigned.

lst = [1,2,3,4]
print(lst)

lst[1] = "Sravan" #List are mutable - elements can be changed after assigning 
print(lst)

[1, 2, 3, 4]
[1, 'Sravan', 3, 4]

In [13]:
tpl

(1, 2, 3, 4, 5)

In [14]:
tpl[0] = 'Sra' #Immutability of tuples - Elements cannot be changed after assignment of them

TypeError: 'tuple' object does not support item assignment

In [15]:
#Tuple Methods
tpl

(1, 2, 3, 4, 5)

In [16]:
print(tpl.count(2))

1

In [18]:
print(tpl.index(4))

3

In [ ]:
#Packing & Unpacking Tuple
#Packing a Tuple
pack = 1,6.9,True

print(pack)

(1, 6.9, True)

In [20]:
#Unpacking a Tuple

a,b,c = pack

print(a)
print(b)
print(c)

1
6.9
True

In [22]:
#Unpacking with *
num = (1,2,3,4,5)
first,*middle,last = num
print(first)
print(middle)
print(last)

1
[2, 3, 4]
5

In [24]:
#Nested List

lst = [[1,2,3,4], [5,6,7,8], ['Hello', 5.7, False, 9]]
print(lst)

[[1, 2, 3, 4], [5, 6, 7, 8], ['Hello', 5.7, False, 9]]

In [25]:
lst[1]

[5, 6, 7, 8]

In [30]:
lst[1][0]

5

In [32]:
lst[0][0:]

[1, 2, 3, 4]

In [26]:
#Nested Tuple

nest_tpl = ((10,11,12), ('Sra',True,13, 1.4), (14,15,16))
print(nest_tpl)

((10, 11, 12), ('Sra', True, 13, 1.4), (14, 15, 16))

In [28]:
nest_tpl[2]

(14, 15, 16)

In [31]:
nest_tpl[0][1]

11

In [34]:
#Iterating over nested Tuple

for i in nest_tpl:
    for item in i:
        print(item,end='')
    print()

101112
SraTrue131.4
141516